#editorCanvas {
  position: absolute;
  left: 10%;
  top: 0%;
  width: 90%;
  height: 100%;
}

#tools {
  width: 5%;

}

#colors {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  top: 0%;
  left: 5%;
}
