#editorCanvas {
  position: absolute;
  left: 10%;
  top: 0%;
  width: 90%;
  height: 100%;
}

#tools {
  margin-top: 10px;
  width: 5%;

}

#colors {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  top: 0%;
  left: 5%;
  width: 5%;
}

.toolButton {
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
}

.colorButton {
  width: 30px;
  height: 30px;
}

svg {
  background-color: rgb(245, 245, 245);
}

.selected {
  stroke: black;
  stroke-width: 3px;
}
