<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<pcConfiguration>
    <configurations>
        <playerName>Hinni</playerName>
        <playerLeft>Left</playerLeft>
        <playerUp>Up</playerUp>
        <playerRight>Right</playerRight>
    </configurations>
    <configurations>
        <playerName>Player 2</playerName>
        <playerLeft>A</playerLeft>
        <playerUp>W</playerUp>
        <playerRight>D</playerRight>
    </configurations>
    <configurations>
        <playerName>Player 3</playerName>
        <playerLeft>H</playerLeft>
        <playerUp>Back Slash</playerUp>
        <playerRight>K</playerRight>
    </configurations>
    <speed>22</speed>
    <playMusic>false</playMusic>
    <playSound>true</playSound>
</pcConfiguration>
