<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jumpnbump"
    android:versionCode="17"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:name="de.jumpnbump.usecases.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.jumpnbump.usecases.game.android.GameActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|screenSize"
            android:label="@string/app_name_solo"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="de.jumpnbump.usecases.networkRoom.RoomActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name_room" />
        <activity
            android:name="de.jumpnbump.usecases.start.StartActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>