.root {
	-fx-background-image: url("configuration_background.png");
	-fx-background-size: stretch;
}


.toggle-button {
	-fx-pref-width: 75;
	-fx-background-color: #a6b5c9,
		linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
		linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%,
		#4a6c9b 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 5 10 5 10;
	-fx-text-fill: #242d35;
	-fx-font-family: "Helvetica";
	-fx-font-size: 12px;
	-fx-text-fill: white;
}

.toggle-button:selected {
	-fx-focus-color: transparent;
	-fx-background-color: #4645e9,
		linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
}


.check-box {
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 5 5 5 5;
	-fx-text-fill: #242d35;
	-fx-font-family: "Helvetica";
	-fx-font-size: 12px;
	-fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: #a6b5c9,
		linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
		linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%,
		#4a6c9b 100%);
}